<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="text-danger font-weight-bold">
            {% for error in errors %}
              <li>{{error}}</li>
            {% endfor %}
        </div>
        <h1>Welcome to the Echo Echo Chat</h1>
        <p>Echo Echo Chat is a multiuser chat app that on message a random selected user replies the same message (echo)</p>
        <h1>Login</h1>
        <form action="" method="POST">
            <input type="text" placeholder="Type an username" name="username">
            <input type="submit">
        </form>
        
    </body>
</html>